@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

@font-face {
  font-family: 'Open Sans';
  src: url('./Assets/nuckle-font/Nuckle-ExtraLight.woff2') format('woff2'),
    url('./Assets/nuckle-font/Nuckle-ExtraLight.woff') format('woff');
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./Assets/nuckle-font/Nuckle-Medium.woff2') format('woff2'),
    url('./Assets/nuckle-font/Nuckle-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./Assets/nuckle-font/Nuckle-Bold.woff2') format('woff2'),
    url('./Assets/nuckle-font/Nuckle-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}
:root {
  /* COLORS */
--color-1: #FFFFFF;
--color-2: #F5F5F5;
--color-3: #F0F0F0;
--color-4: #EEEEEE;
--color-5: #D9D9D9;
--color-6: #949494;
--color-7: #C5C5C5;
--color-8: #404243;
--color-9: #141615;
--color-10: #515F91;
--color-11: #E2C324;
--color-12: #A10000;
--color-13: #B20000;
--color-14:#AE3F3F;
--color-15: #0010A1;
--color-16: #000000;
--color-17:#A2A2A2;

  /* BACKGROUND COLORS */
--bg-primary:var(--color-4);
--bg-secondary:var(--color-5);
--bg-tertiary:var(--color-8);
--bg-quaternary:var(--color-16);

/* BUTTON COLORS */
--btn-bg-color: var(--color-1);
--btn-font-color: var(--color-16);

/* SCROLL */
--scroll-bg-color:var(--color-5);
--scroll-front-color:var(--color-6);

/* FONT COLORS */
--font-color-1: var(--color-9);
--font-color-2: var(--color-1);
--font-color-3: var(--color-16);
--font-color-hero: var(--color-1);

  /* FONTS */
  --Font-1: 'ABeeZee', sans-serif;
  --Font-2: 'Abhaya Libre', serif;
  --Font-3: 'Nuckle', sans-serif;

/* BORDER */
--border: 1px;

  /* PADDINGS */
--padding-xxs:10px;
--padding-xs:20px;
--padding-s:30px;
--padding-m:40px;
--padding-l:50px;
--padding-xl:60px;
--padding-xxl:80px;
--padding-xxxl:100px;

  /* MARGINS */
--margin-xxs:10px;
--margin-xs:20px;
--margin-s:30px;
--margin-m:40px;
--margin-l:50px;
--margin-xl:60px;
--margin-xxl:80px;
--margin-xxxl:100px;

  /* GAPS */
--gap-xxs:10px;
--gap-xs:20px;
--gap-s:30px;
--gap-m:40px;
--gap-l:50px;
--gap-xl:60px;
--gap-xxl:80px;
--gap-xxxl:100px;

  /* BORDER-RADIUS */
  --border-radius-btn-1: 60px;
  --border-radius-btn-2: 80px;
  --border-radius-btn-3: 90px;
  --border-radius-btn-100:100%;
  --border-radius-article:15px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--Font-1);
  color: var(--font-color-1);
  text-decoration: none;
  list-style: none;
}
body {
  background-color: var(--bg-primary);
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  font-family: var(--Font-1);
  color: var(--font-color-1);
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  flex-wrap: wrap;
}
.grid-container {
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: start;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-xs);
  padding: var(--padding-xs) var(--padding-xl);
}
.header {
  display: flex;
  justify-content: space-between;
  height: 100px;
}
header>nav>ul{
  gap: var(--gap-s);
}
header>nav>ul>li>a>img, .header-icons>img {
  width:30px;
  height:30px;
  cursor: pointer;
}
.header-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--gap-m);
}
.burger-menu {
  display: none;
  cursor: pointer;
}
.hero {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-image: url(./Assets/portada.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  height: 600px;
  gap: var(--gap-m);
}
.hero>h1, .hero>p {
 color: var(--font-color-hero);
  font-weight: 100;
}
.hero>h1 {
  font-size: 65px;
  font-family: var(--Font-2);
  padding: var(--padding-xxxl) 0 0 var(--padding-m);
}
.hero>p {
  font-size: 20px;
  font-family:var(--Font-1);
  padding-left:  var(--padding-m);
}
.products {
  display:grid;
  grid-template-areas: "product-1 product-2" "product-3 product-4";
gap:5%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, minmax(450px,1fr));
  padding: var(--padding-m);
  margin:0px;
}
.product-1 {
  grid-area: product-1;
}
.product-2 {
  grid-area: product-2;
}
.product-3 {
  grid-area: product-3;
}
.product-4 {
  grid-area: product-4;
}
article {
  background-color: var(--color-5);
  border-radius: var(--border-radius-article);
  width:100%;
  height:100%;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr;
  position: relative;
  max-height:800px;
}
article>h2, article>p{
  display:grid;
  align-items: center;
  font-family: var(--Font-1);
  justify-self: flex-start;
}
article>h2{
  font-size: 30px;
  padding: var(--padding-m) var(--padding-s) var(--padding-xs) var(--padding-s);
  grid: column 1px / 5px;;
  grid-row:1/2;
}
article>p{
  grid-column: 1/5;
  grid-row: 2/3;
   padding: 0px var(--padding-s) var(--padding-xs) var(--padding-s);
}
article>img {
  width: 100%;
  height: auto;
  max-height:450px;
  object-fit: contain;
  object-position: center;
  padding: var(--padding-xxs);
   transition: transform 0.4s ease-in-out;
   grid-column: 1/5;
  grid-row: 3/8;
  align-self: center;
  justify-self: center;
}

article>img:hover {
  transform: scale(1.1);
}

.car-1-rojo, .car-1-azul, .car-1-negro, .car-2-amarillo, .car-2-rojo, .car-3-azul, .car-3-rojo, .car-4-amarillo, .car-4-rojo {
  display:none;
  width:0px;
}
article>a {
  grid-column:1/2;
  grid-row: 8/9;
  align-self: center;
  cursor: pointer;
  padding: var(--padding-xs) var(--padding-s);
  border: none;
  border-radius: var(--border-radius-btn-1);
  background-color: var(--color-1);
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
article>a:hover {
  box-shadow: inset 0px 10px 15px -3px rgba(0,0,0,0.1);
}
/* Nota: iba a hacer lo que hago a continuación de pulsando cualquier color cambia el coche, pero resulta que no se puede hacer con botones. Así que he aprovechado que tengo Photoshop para hacer los círculos en png. Ya dijo el profe en la clase grabada que esto se hace más fácil con JS, pero me gustó mucho. */
article>label {
  grid-column: 2/5;
  grid-row:8/9;
  justify-self: flex-end;
  align-self: center;
  margin-right: var(--margin-xs);
  margin-bottom: 0px;
  position: absolute;
}
article>label>img {
  width:40px;
}
article>label:nth-last-of-type(1){
  right:20px;
}
article>label:nth-last-of-type(2){
  right: 70px;
}
article>label:nth-last-of-type(3){
  right:120px;
}
article>label:nth-last-of-type(4){
  right:170px;
}
.product-1 input, .product-2 input, .product-3 input, .product-4 input {display: none;}
#rojo-1:checked ~ .default-car-1{
  display:none;
  width:0px;
}
#rojo-1:checked ~ .car-1-rojo, #gris-1:checked ~ .default-car-1, #azul-1:checked ~ .car-1-azul, #negro-1:checked ~ .car-1-negro {
  display: grid;
  width: 100%;
  height: auto;
  max-height:450px;
  object-fit: contain;
  object-position: center;
  padding: var(--padding-xxs);
   transition: transform 0.4s ease-in-out;
   grid-column: 1/5;
  grid-row: 3/8;
  align-self: center;
  justify-self: center;
}

#gris-1:checked ~ .car-1-rojo, #gris-1:checked ~ .car-1-azul, #gris-1:checked ~ .car-1-negro {
  display:none;
  width:0px;
}
#rojo-1:checked ~ .default-car-1, #rojo-1:checked ~ .car-1-azul, #rojo-1:checked ~ .car-1-negro {
  display:none;
  width:0px;
}
#azul-1:checked ~ .default-car-1, #azul-1:checked ~ .car-1-rojo, #azul-1:checked ~ .car-1-negro {
  display:none;
  width:0px;
}
#negro-1:checked ~ .default-car-1, #negro-1:checked ~ .car-1-rojo, #negro-1:checked ~ .car-1-azul {
  display:none;
  width:0px;
}
#rojo-2:checked ~ .car-2-rojo, #negro-2:checked ~ .default-car-2, #amarillo-2:checked ~ .car-2-amarillo {
  display: grid;
  width: 100%;
  height: auto;
  max-height:450px;
  object-fit: contain;
  object-position: center;
  padding: var(--padding-xxs);
   transition: transform 0.4s ease-in-out;
   grid-column: 1/5;
  grid-row: 3/8;
  align-self: center;
  justify-self: center;
}

#negro-2:checked ~ .car-2-rojo, #negro-2:checked ~ .car-2-amarillo {
  display:none;
  width:0px;
}
#rojo-2:checked ~ .default-car-2, #rojo-2:checked ~ .car-2-amarillo {
  display:none;
  width:0px;
}
#amarillo-2:checked ~ .default-car-2, #amarillo-2:checked ~ .car-2-rojo {
  display:none;
  width:0px;
}
#rojo-3:checked ~ .car-3-rojo, #negro-3:checked ~ .default-car-3, #azul-3:checked ~ .car-3-azul {
  display: grid;
  width: 100%;
  height: auto;
  max-height:450px;
  object-fit: contain;
  object-position: center;
  padding: var(--padding-xxs);
   transition: transform 0.4s ease-in-out;
   grid-column: 1/5;
  grid-row: 3/8;
  align-self: center;
  justify-self: center;
}

#negro-3:checked ~ .car-3-rojo, #negro-3:checked ~ .car-3-azul {
  display:none;
  width:0px;
}
#rojo-3:checked ~ .default-car-3, #rojo-3:checked ~ .car-3-azul {
  display:none;
  width:0px;
}
#azul-3:checked ~ .default-car-3, #azul-3:checked ~ .car-3-rojo {
  display:none;
  width:0px;
}
#rojo-4:checked ~ .car-4-rojo, #negro-4:checked ~ .default-car-4, #amarillo-4:checked ~ .car-4-amarillo {
  display: grid;
  width: 100%;
  height: auto;
  max-height:450px;
  object-fit: contain;
  object-position: center;
  padding: var(--padding-xxs);
   transition: transform 0.4s ease-in-out;
   grid-column: 1/5;
  grid-row: 3/8;
  align-self: center;
  justify-self: center;
}

#negro-4:checked ~ .car-4-rojo, #negro-4:checked ~ .car-4-amarillo {
  display:none;
  width:0px;
}
#rojo-4:checked ~ .default-car-4, #rojo-4:checked ~ .car-4-amarillo {
  display:none;
  width:0px;
}
#amarillo-4:checked ~ .default-car-4, #amarillo-4:checked ~ .car-4-rojo {
  display:none;
  width:0px;
}
.dealer {
  display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
padding: var(--padding-s) 0px var(--padding-s) var(--padding-l);
}
.dealer >h2>span, .dealer >h3 {
  color: var(--font-color-1);
  font-family: var(--Font-2);
  font-weight: 100;
  text-wrap: normal;
}
.dealer >h2 {
  font-size: 85px;
  display: flex;
  flex-direction: column;
}
.dealer >h3 {
  font-size: 18px;
  width:40%;
  padding-top: var(--padding-xxs);
}
.usa {
  display: flex;
  background-image: url(./Assets/USA.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  max-height:800px;
  min-height:330px;
  object-fit: contain;
  object-position: center;
  margin: var(--margin-s) 0px var(--margin-s) 0px;
  justify-content: flex-start;
  padding-left: var(--padding-s);
}
.usa>div {
  background-color: rgba(162, 162, 162, 0.51);
  padding: var(--padding-s) var(--padding-xl)var(--padding-s) var(--padding-m);
  border-radius: var(--border-radius-article);
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  max-width:470px;
}
.usa>div>h4, .usa>div>a{
  display: flex;
  flex-direction: column;
}
.usa>div>h4 {
  padding-bottom: var(--padding-s);
  align-items: flex-start;
}
.usa>div>h4>span, .usa>div>a {
  font-weight: 100;
}
.usa>div>h4>span {
  font-size: 50px;
  color: var(--font-color-2);
}
.usa>div>a {
  font-size: 20px;
  color: var(--font-color-1);
  padding: var(--padding-xs) var(--padding-l);
  border-radius: var(--border-radius-btn-1);
  background-color: var(--color-1);
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  text-align: center;
  width: fit-content;
}
.usa>div>a:hover {
  box-shadow: inset 0px 10px 15px -3px rgba(0,0,0,0.1);
}

 .section-with-scroll {
  display: grid;
  column-gap: var(--gap-m);
  grid-auto-flow: column;
  grid-auto-columns: 38%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scrollbar-arrow-color: var(--scroll-bg-color);
  padding: var(--padding-m);
 }
.section-with-scroll>article.grid-container {
 width: 90%;
grid-template-columns: 1fr;
grid-template-rows: repeat(6, 1fr);
gap: var(--gap-s);
}

.section-with-scroll>article>h2 {
grid-row:1/2;
}
.section-with-scroll>article.grid-container>img{
  grid-row: 2/5;
  width:90%;
  justify-self:center;
  align-self: center;
  object-fit: cover;
}
.section-with-scroll>article>a{
  grid-row: 5/7;
}
.temptation {
  background-image: url(./Assets/temptation.png);
  width:100%;
  height:450px;
  background-repeat: no-repeat;
  background-size: cover;
    display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: var(--margin-s)   ;
}
.temptation> div.tempting-texts{
  padding: var(--padding-m) var(--padding-xl);
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: var(--gap-xxs);

}
.temptation> div.tempting-texts>h4, .temptation> div.tempting-texts>p {
  color: var(--font-color-2);
  font-family: var(--Font-1);
  font-weight: 100;
}
.temptation> div.tempting-texts>h4 {
  font-size: 50px;
}
.temptation> div.tempting-texts>p {
  font-size: 14px;
  width:30%;
}
.wheel-programme {
  grid-template: repeat(7, 1fr)/ 1fr 1fr;
  height:500px;
  padding: var(--padding-s);
  gap: var(--gap-s);
}
.wheel-programme>h4, .wheel-programme>p , .wheel-programme>a {
  justify-self: flex-start;
  font-weight: 100;
  font-family: var(--Font-1);
  padding-left: var(--padding-s);
}
.wheel-programme>h4 {
  grid-column: 1/2;
  grid-row:3/4;
  font-size:45px;
}
.wheel-programme>p {
  grid-column: 1/2;
  grid-row:4/5;
  font-size: 20px;
}
.wheel-programme>a {
  grid-column: 1/2;
  grid-row:5/6;
  font-size: 22px;
}
.wheel-programme>img {
  grid-column: 2/3;
  grid-row:2/7;
  width: auto;
  justify-self: center;
  align-self: center;
  padding: var(--padding-xs);
  max-height:450px;
}
footer {
  height: 750px;
  width:100%;
  background-color:  var(--bg-quaternary);
 grid-template: 1fr 3fr/ 1fr;
}
.footer-1 {
  width: 100%;
  height: 100px;
  justify-content: space-evenly;
  background-color: var(--bg-tertiary);
align-self: flex-start;
padding: 0px var(--padding-xl)
}
.footer-1>p {
  color:var(--font-color-2);
  width: 60%;
  font-weight: 100;
}
.footer-1>a {
background-color: var(--btn-bg-color);
color:var(--btn-font-color);
border-radius: var(--border-radius-btn-1);
padding: var(--padding-xxs) var(--padding-s);
border: var(--color-16) 1px solid;
}
.footer-2 {
  flex-direction: column;
  gap: var(--gap-s);
  width: 100%;
}
.footer-2-1 {
  flex-direction: column;
  gap: var(--gap-s);
  width: 40%;
}
.footer-2-1>h4, .footer-2-1>p, input, label, label>a {
  color:var(--font-color-2);
}
.subscribe-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
  border-radius: var(--border-radius-btn-1);
  overflow: hidden;
  max-width: 650px;
  width: 55%;
  min-width: 275px;
}

.subscribe-container> input[type="email"] {
  flex: 1;
  background-color: transparent;
  padding: var(--padding-xxs) var(--padding-xs);
  border: none;
  outline: none;
   color: var(--font-color-2);
   font-size: 11px;
}

.subscribe-container> button {
  background-color: var(--btn-bg-color);
  color: var(--btn-font-color);
  border: none;
  border-radius: var(--border-radius-btn-1);
  padding: 0px var(--padding-xxs);
  font-size: 12px;
  cursor: pointer;
}
label>a {
  text-decoration: underline;
  cursor: pointer;
}
.checkbox-1 {
  gap: var(--gap-xxs);
}
input[type="checkbox" i] {
   background-color: var(--color-16);
  padding-right: var(--padding-xs);
  accent-color: var(--color-1);
}
.footer-2-1>h4 {
  font-size: 30px;
}
.sm-icons {
  gap: var(--gap-xs);
}
.sm-icons>a>img {
  width: 20px;
  height: 20px;
}
.footer-2-2 {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  align-items:flex-start;
  padding-top: var(--padding-s);
  padding-bottom: var(--padding-s);
}
.footer-2-2>ul>li {
  color: var(--font-color-2);
  font-size: 20px;
}
.footer-2-2>ul>li:first-of-type{
  padding-bottom: var(--padding-xs);
}
.footer-2-2>ul>li>a{
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}
.arrow-container {
  width: 100%;
  position: relative;
}
.arrow-container>a {
  background-color: var(--color-1);
  border-radius: var(--border-radius-btn-100);
  padding: 1px 7px;
  border: none;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MEDIA QUERIES */
@media(min-width:2000px) {
  .header {
    height: 125px;
  }
  header>nav>ul{
    gap: var(--gap-m);
  }
  header>nav>ul>li>a>img, .header-icons>img {
    width:50px;
    height:50px;
  }
  nav>ul>li>a {
    font-size: 30px;
  }
  .hero{
    height: 800px;
  }
  .hero>h1 {
    font-size: 120px;
  }
  .hero>p {
    font-size: 40px;
  }
  .products {
    gap:var(--gap-xl);
    grid-template-columns: repeat(2, minmax(700px,1fr));
    grid-template-rows: repeat(2, minmax(700px,1fr));
    padding: var(--padding-m);
  }
  article{
    height: 100%;
  }
  article>h2{
    font-size: 50px;
    padding: var(--padding-m) var(--padding-s) var(--padding-xs) var(--padding-s);
    }
  article>p{
    font-size: 30px;
    padding: 0px var(--padding-m) var(--padding-s) var(--padding-m);
  }
  article>img {
    max-height:450px;
      padding: var(--padding-s);
    }
    article>a {
      font-size:25px;
      padding: var(--padding-s) var(--padding-l);
      grid-column:1/3;
      justify-self: flex-start;
      margin: 0px var(--margin-m)var(--margin-m) var(--margin-m);
      margin-left: var(--margin-m);
      z-index: 1;
    }
    article>label>img {
      width:80px;
      margin: 0px var(--margin-m)var(--margin-m) var(--margin-m);
      margin-left: var(--margin-m);
      z-index:1;
    }
    article>label:nth-last-of-type(1){
      right:20px;
    }
    article>label:nth-last-of-type(2){
      right: 100px;
    }
    article>label:nth-last-of-type(3){
      right:180px;
    }
    article>label:nth-last-of-type(4){
      right:260px;
    }
    .dealer >h2 {
      font-size: 250px;
      }
    .dealer >h3 {
      font-size: 50px;
      width:45%;
      padding-top: var(--padding-s);
    }
    .usa {
      display: flex;
      background-image: url(./Assets/USA.png);
      width: 100%;
    height:1500px;
    max-height:1500px;
    padding-left: var(--padding-xxl);
    }
    .usa>div {
      padding: var(--padding-s) var(--padding-xxxl)var(--padding-s) var(--padding-l);
      max-width:600px;
      width:100%
    }
    .usa>div>h4>span {
      font-size: 60px;
    }

.temptation {
  height:1000px;
}
.temptation> div.tempting-texts>h4 {
  font-size: 80px;
}
.temptation> div.tempting-texts>p {
  font-size: 30px;
  width:35%;
}
.wheel-programme {
  height:800px;
  padding: var(--padding-l);
  gap: var(--gap-l);
}
.wheel-programme>h4, .wheel-programme>p , .wheel-programme>a {
  padding-left: var(--padding-l);
}
.wheel-programme>h4 {
  font-size:78px;
}
.wheel-programme>p {
  font-size: 30px;
}
.wheel-programme>a {
  font-size: 35px;
}
.wheel-programme>img {
  padding: var(--padding-m);
  max-height:750px;
}
  }
@media(max-width:2000px) and (min-width:1350px) {
  .header {
    height: 100px;
  }
  header>nav>ul>li>a>img, .header-icons>img {
    width:40px;
    height:40px;
  }
  nav>ul>li>a {
    font-size: 20px;
  }
  header>nav>ul{
    gap: var(--gap-m);
  }
  .hero{
    height: 800px;
  }
  .products {
    gap:var(--gap-l);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, minmax(650px,1fr));
  }
  article{
    height: 100%;
    max-height:650px;
    min-height:500px;
  }
  article>h2{
    font-size: 35px;
    padding: var(--padding-m) var(--padding-s) var(--padding-xxs) var(--padding-s);
    }
  article>p{
    font-size: 25px;
    padding: 0px var(--padding-xxs) var(--padding-s) var(--padding-s);
  }
  article>img {
    max-height:450px;
      padding: var(--padding-s);
    }
    article>a {
      font-size:20px;
      padding: var(--padding-xs) var(--padding-m);
      grid-column:1/3;
      justify-self: flex-start;
      margin-left: var(--margin-m);
    }
    article>label>img {
      width:50px;
    }
    article>label:nth-last-of-type(1){
      right:20px;
    }
    article>label:nth-last-of-type(2){
      right: 100px;
    }
    article>label:nth-last-of-type(3){
      right:180px;
    }
    article>label:nth-last-of-type(4){
      right:260px;
    }
    .dealer >h2 {
      font-size: 130px;
      display: flex;
      flex-direction: column;
    }
    .dealer >h3 {
      font-size: 30px;
      padding-top: var(--padding-s);
    }
    .usa {
      display: flex;
      background-image: url(./Assets/USA.png);
      width: 100%;
    height:1000px;
    max-height:1000px;
    padding-left: var(--padding-xxl);
    }
    .usa>div {
      padding: var(--padding-s) var(--padding-xxxl)var(--padding-s) var(--padding-l);
      max-width:550px;
      width:100%
    }
    .usa>div>h4>span {
      font-size: 55px;
    }
    .usa>div>a{
      font-size: 18px;
    }
    .temptation {
      height:700px;
    }
    .temptation> div.tempting-texts>h4 {
      font-size: 60px;
    }
    .temptation> div.tempting-texts>p {
      font-size: 24px;
      width:40%;
    }
    .wheel-programme {
  height:800px;
  padding: var(--padding-l);
  gap: var(--gap-l);
}
.wheel-programme>h4, .wheel-programme>p , .wheel-programme>a {
  padding-left: var(--padding-l);
}
.wheel-programme>h4 {
  font-size:50px;
}
.wheel-programme>p {
  font-size: 24px;
}
.wheel-programme>a {
  font-size: 28px;
}
.wheel-programme>img {
  padding: var(--padding-m);
  max-height:650px;
}
  }
@media (max-width:1350px) and (min-width: 1200px) {
  .header {
    height: 100px;
  }
  .hero>h1 {
  font-size: 50px;
}
.hero>p {
  font-size: 16px;
}
.products {
  gap:var(--gap-m);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, minmax(450px,1fr));
  padding: var(--padding-m);
}
article {
  max-height:600px;
}
article>img {
  max-height:350px;
}
article.product-1 > img {
  transform: scale(1.1);
  transform-origin: center;
}
article.product-1 > img:hover {
  transform: scale(1.2);
}
#rojo-1:checked ~ .car-1-rojo, #gris-1:checked ~ .default-car-1, #azul-1:checked ~ .car-1-azul, #negro-1:checked ~ .car-1-negro, #rojo-2:checked ~ .car-2-rojo, #negro-2:checked ~ .default-car-2, #amarillo-2:checked ~ .car-2-amarillo, #rojo-3:checked ~ .car-3-rojo, #negro-3:checked ~ .default-car-3, #azul-3:checked ~ .car-3-azul, #rojo-4:checked ~ .car-4-rojo, #negro-4:checked ~ .default-car-4, #amarillo-4:checked ~ .car-4-amarillo {
 max-height: 350px;
}
article>a {
  padding: var(--padding-xs) var(--padding-s);
  grid-column:1/2;
  font-size: 15px;
  margin: 0px 0px var(--margin-xxs) var(--margin-xxs);
}
article>label>img {
  width:45px;
}
.dealer >h2 {
  font-size: 110px;
  display: flex;
  flex-direction: column;
}
.dealer >h3 {
  width:45%;
  font-size: 30px;
}
.usa {
  display: flex;
  background-image: url(./Assets/USA.png);
  width: 100%;
height:900px;
max-height:900px;
padding-left: var(--padding-xxl);
}
.usa>div {
  padding: var(--padding-s) var(--padding-xxxl)var(--padding-s) var(--padding-l);
  max-width:530px;
  width:100%
}
.usa>div>h4>span {
  font-size: 50px;
}
.usa>div>a{
  font-size: 16px;
}
.temptation {
  height:600px;
}
.temptation> div.tempting-texts>h4 {
  font-size: 55px;
}
.temptation> div.tempting-texts>p {
  font-size: 20px;
  width:40%;
}
}
@media (max-width: 1200px) and (min-width:950px) {
  .hero {
    height: 500px;
  }
  .hero>h1 {
  font-size: 40px;
}
.hero>p {
  font-size: 12px;
}
article {
  max-height:600px;
}
article>img {
  max-height:350px;
}
article.product-1 > img {
  transform: scale(1.1);
  transform-origin: center;
}
article.product-1 > img:hover {
  transform: scale(1.2);
}
article>a {
  margin: 0px 0px var(--margin-xs) var(--margin-xs);

}
article>label>img {
  width: 40px;
}
.dealer >h2 {
  font-size: 100px;
}
.dealer >h3 {
  font-size: 25px;
  width:50%;
}
.usa {
  display: flex;
  background-image: url(./Assets/USA.png);
  width: 100%;
height:750px;
max-height:750px;
padding-left: var(--padding-xxl);
}
.usa>div {
  padding: var(--padding-s) var(--padding-xxxl)var(--padding-s) var(--padding-l);
  max-width:530px;
  width:100%
}
.usa>div>h4>span {
  font-size: 50px;
}
.usa>div>a{
  font-size: 16px;
}
.section-with-scroll {
height:600px;
 }
.section-with-scroll>article.grid-container {
height:450px;
}

.wheel-programme>h4 {
  font-size:35px;
}
.wheel-programme>p {
  font-size: 18px;
}
.wheel-programme>a {
  font-size: 20px;
}
}
@media (max-width: 950px) and (min-width: 885px) {
  .header {
    height: 70px;
  }
  .hero {
    height: 400px;
      justify-content: flex-end;
    gap: 0;
  }
    .hero>h1 {
 font-size: 45px;
  padding:  0 0 0 var(--padding-m);
}
.hero>p {
  font-size: 28px;
  padding-bottom: var(--padding-s);
}
article {
  max-height:500px;
}
article>img {
  max-height:350px;
}
article.product-1 > img {
  transform: scale(1.1);
  transform-origin: center;
}
article.product-1 > img:hover {
  transform: scale(1.2);
}
article>a {
  margin: 0px 0px var(--margin-xs) var(--margin-xs);

}
article>a {
  font-size:15px;
  padding: var(--padding-xs) var(--padding-s);
}
article>label>img {
  width: 35px;
}
article>label:nth-last-of-type(1){
  right:15px;
}
article>label:nth-last-of-type(2){
  right: 60px;
}
article>label:nth-last-of-type(3){
  right:105px;
}
article>label:nth-last-of-type(4){
  right:150px;
}
.dealer >h2 {
  font-size: 90px;
}
.dealer >h3 {
  font-size: 20px;
  width:50%;
}
.usa {
  display: flex;
  background-image: url(./Assets/USA.png);
  width: 100%;
height:750px;
max-height:750px;
padding-left: var(--padding-xxl);
}
.usa>div {
  padding: var(--padding-s) var(--padding-xxl)var(--padding-s) var(--padding-l);
  max-width:400px;
  width:100%
}
.usa>div>h4>span {
  font-size: 35px;
}
.usa>div>a{
  font-size: 12px;
}
.section-with-scroll {
  height:700px;
  grid-auto-columns: 90%;
   }
   .section-with-scroll img {
    max-height: 300px;
   }
   .temptation {
     height:450px;
 position: relative;
  }
  .temptation> div.tempting-texts{
position: absolute;
bottom: -150px;
background-color: var(--color-5);
padding: var(--padding-s);
justify-content: center;
align-items: center;
  }
  .temptation> div.tempting-texts>h4, .temptation> div.tempting-texts>p {
    color: var(--font-color-1);
    text-align: center;
  }
  .temptation> div.tempting-texts>p {
   width:70%;
    }
    .wheel-programme {
      margin-top: 150px;
    }
    .wheel-programme>h4 {
      font-size:30px;
    }
    .wheel-programme>p {
      font-size: 16px;
    }
    .wheel-programme>a {
      font-size: 18px;
    }
 }
@media (max-width: 885px) and (min-width: 700px) {
  .header {
    height: 70px;
  }
  .hero {
    height: 400px;
      justify-content: flex-end;
    gap: 0;
  }
    .hero>h1 {
 font-size: 45px;
  padding:  0 0 0 var(--padding-m);
}
.hero>p {
  font-size: 25px;
  padding-bottom: var(--padding-xxs);
}
article {
  max-height:500px;
}
article>img {
  max-height:350px;
  object-fit: cover;
}
article.product-1 > img {
  transform: scale(1.1);
  transform-origin: center;
}
article.product-1 > img:hover {
  transform: scale(1.2);
}
article>a {
  margin: 0px 0px var(--margin-xs) var(--margin-xs);

}
article>a {
  font-size:15px;
  padding: var(--padding-xxs) var(--padding-xs);
}
article>label>img {
  width: 35px;
  padding-bottom: var(--padding-xxs);
}
article:first-of-type>label:nth-last-of-type(1){
  right:15px;
}
article:first-of-type>label:nth-last-of-type(2){
  right: 60px;
}
article:first-of-type>label:nth-last-of-type(3){
  right:15px;
  bottom:50px;
}
article:first-of-type>label:nth-last-of-type(4){
  right:60px;
  bottom: 50px;
}
article>label:nth-last-of-type(1){
  right:10px;
}
article>label:nth-last-of-type(2){
  right: 50px;
}
article>label:nth-last-of-type(3){
  right:90px;
}
article>label:nth-last-of-type(4){
  right:130px;
}
.dealer >h3 {
  width:50%;
}
.usa {
  display: flex;
  background-image: url(./Assets/USA.png);
  width: 100%;
height:600px;
max-height:600px;
padding-left: var(--padding-xxl);
}
.usa>div {
  padding: var(--padding-xs) var(--padding-xl)var(--padding-xs) var(--padding-m);
  max-width:375px;
  width:100%
}
.usa>div>h4>span {
  font-size: 35px;
}
.usa>div>a{
  font-size: 12px;
  padding: var(--padding-xxs) var(--padding-m);
}
.section-with-scroll {
  height:600px;
  grid-auto-columns: 90%;
   }
   .section-with-scroll img {
    max-height: 300px;
   }
   .temptation {
    height: 400px;
position: relative;
background-position: right ;
 }
 .temptation> div.tempting-texts{
position: absolute;
bottom: -150px;
background-color: var(--color-5);
padding: var(--padding-s);
justify-content: center;
align-items: center;
 }
 .temptation> div.tempting-texts>h4, .temptation> div.tempting-texts>p {
   color: var(--font-color-1);
   text-align: center;
 }
 .temptation> div.tempting-texts>p {
  width:70%;
   }
   .wheel-programme {
    margin-top: 150px;

  }
  .wheel-programme>h4 {
    font-size:28px;
  }
  .wheel-programme>p {
    font-size: 14px;
  }
  .wheel-programme>a {
    font-size: 16px;
  }
  .wheel-programme>img {
    padding: var(--padding-xxs);
    max-height:375px;
  }
}
@media (max-width: 700px) {
.hero {
    height: 300px;
       justify-content: flex-end;
    gap: 0;
  }
.hero>h1 {
 font-size: 40px;
  padding:  0 0 0 var(--padding-m);
}
.hero>p {
  font-size: 25px;
  padding-bottom: var(--padding-xxs);
}
article {
  max-height:475px;
}
article>h2, article>p {
  grid-column:1/5;
justify-self: center;
align-self: center;
}
article>img {
  max-height:300px;
  object-fit: cover;
}
article.product-1 > img {
  transform: scale(1.1);
  transform-origin: center;
}
article.product-1 > img:hover {
  transform: scale(1.2);
}
article>a {
  margin-bottom: var(--margin-xs);
  font-size:15px;
  padding: var(--padding-xs) var(--padding-s);
  grid-column: 1/5;
  justify-self: center;
}
article>label>img {
  display:none;
  width:0px;
}
#rojo-1:checked ~ .car-1-rojo, #gris-1:checked ~ .default-car-1, #azul-1:checked ~ .car-1-azul, #negro-1:checked ~ .car-1-negro, #rojo-2:checked ~ .car-2-rojo, #negro-2:checked ~ .default-car-2, #amarillo-2:checked ~ .car-2-amarillo, #rojo-3:checked ~ .car-3-rojo, #negro-3:checked ~ .default-car-3, #azul-3:checked ~ .car-3-azul, #rojo-4:checked ~ .car-4-rojo, #negro-4:checked {
  max-height: 300px
}
.dealer {
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) 0px var(--padding-xs) 0px;
 text-align: center;
  }
  .dealer >h2 {
    font-size: 65px;
  }
  .dealer >h3 {
    width:80%;
    padding-top: var(--padding-xxs);
  }
  .usa {
  display: flex;
  background-image: url(./Assets/USA.png);
  width: 100%;
height:600px;
max-height:600px;
padding-left: var(--padding-xxl);
}
.usa>div {
  padding: var(--padding-xs) var(--padding-xl)var(--padding-xs) var(--padding-m);
  max-width:375px;
  width:100%
}
.usa>div>h4>span {
  font-size: 35px;
}
.usa>div>a{
  font-size: 12px;
  padding: var(--padding-xxs) var(--padding-m);
}
.usa {
  display: flex;
  background-image: url(./Assets/USA.png);
  width: 100%;
height:400px;
max-height:400px;
padding-left: 0px;
justify-content: center;
align-items: center;
}
.usa>div {
  padding: var(--padding-xs);
   width:90%;
   height: 90%;
   max-width:none;
   align-content: center;
   justify-content: center;
}
.usa>div>h4 {
  padding-bottom: var(--padding-m);
  align-items: center;
}
.usa>div>h4>span {
  font-size: 65px;
}
.usa>div>a{
  font-size: 22px;
  padding: var(--padding-xxs) var(--padding-m);
  align-self: center;
}
.section-with-scroll {
  height:550px;
  grid-auto-columns: 90%;
   }
   .section-with-scroll>article.grid-container {
    min-height: 400px;
    min-width: 280px;
    max-height: 500px;
    width: 95%;
   }
   .section-with-scroll img {
    max-height: 300px;
    min-height: 200px;
   }
   .temptation {
    height: 400px;
position: relative;
background-position: right ;
 }
 .temptation> div.tempting-texts{
position: absolute;
bottom: -150px;
background-color: var(--color-5);
padding: var(--padding-s);
justify-content: center;
align-items: center;
 }
 .temptation> div.tempting-texts>h4, .temptation> div.tempting-texts>p {
   color: var(--font-color-1);
   text-align: center;
 }
 .temptation> div.tempting-texts>p {
  width:70%;
   }
   .wheel-programme {
    grid-template: 1fr 5fr 1fr 1fr/ 1fr;
    height:1100px;
    padding: var(--padding-xs);
    gap: var(--gap-xs);
    justify-content: center;
    align-items: center;
    margin-top: 150px;
  }
  .wheel-programme>h4, .wheel-programme>p , .wheel-programme>a {
    padding-left: var(--padding-xs);
    text-align: center;
    justify-self: center;
  }
  .wheel-programme>h4 {
    grid-column: 1/2;
    grid-row:1/2;
    font-size:50px;
    font-family: var(--Font-2);
  }
  .wheel-programme>p {
    grid-column: 1/2;
    grid-row:3/4;
    font-size: 20px;
  }
  .wheel-programme>a {
    grid-column: 1/2;
    grid-row:4/5;
    font-size: 22px;
  }
  .wheel-programme>img {
    grid-column: 1/2;
    grid-row:2/3;
    width: 100%;
  max-height:650px;
    padding: var(--padding-xxs);
  }
  }
@media (max-width: 653px) {
  .hero {
    height: 200px;
      justify-content: flex-end;
    gap: 0;
  }
    .hero>h1 {
 font-size: 23px;
  padding:  0 0 0 var(--padding-xs);
}
.hero>p {
  font-size: 15px;
  padding-bottom: var(--padding-xxs);
  padding-left: var(--padding-xs);
}
  .header {
  height:70px;
}
header>nav>ul>li>a>img, .header-icons>img {
  width:25px;
  height:25px;
  cursor: pointer;
}
  nav>ul>li:not(:first-child) {
    display: none;
    width: 0px;
  }
  .burger-menu {
    display: block;
    width: 25px;
    height: 25px;
  }
  .products {
    display:grid;
    grid-template-areas: "product-1" "product-2" "product-3" "product-4";
  gap: var(--gap-m);
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, minmax(450px,1fr));
    padding: var(--padding-m);
  }
  article {
    max-height:475px;
    min-height: 335px;
  }
  article>h2, article>p {
    grid-column:1/5;
  justify-self: center;
  align-self: center;
  }
  article>img {
    max-height:250px;
    object-fit: cover;
  }
  article>a {
    margin-bottom: var(--margin-xs);
    font-size:15px;
    padding: var(--padding-xs) var(--padding-s);
    grid-column: 1/5;
    justify-self: center;
  }
  article>label>img {
    display:none;
    width:0px;
  }
    .dealer >h2 {
      font-size: 45px;
    }
    .dealer >h3 {
       width:80%;
    }
    .usa>div>h4>span {
      font-size: 50px;
    }
    .usa>div>a{
      font-size: 18px;
      padding: var(--padding-xxs) var(--padding-m);
      align-self: center;
    }
    .temptation {
      height: 310px;
  position: relative;
  background-position: right ;
   }
   .temptation> div.tempting-texts{
  position: absolute;
  bottom: -140px;
  background-color: var(--color-5);
  padding: var(--padding-xxs);
  justify-content: center;
  align-items: center;
   }
   .temptation> div.tempting-texts>h4, .temptation> div.tempting-texts>p {
     color: var(--font-color-1);
     text-align: center;
   }
   .temptation> div.tempting-texts>p {
    width:80%;
     }
     .wheel-programme>h4 {
      font-size:39px;
    }
    footer {
      height: 1200px;
     margin-top: var(--margin-xxs);
     grid-template: 150px minmax(300px,1fr) 3fr/ 1fr;
    }
    .footer-1 {
      width: 100%;
      height: 150px;
      grid-row: 1/2;
      flex-direction: column;
      background-color: var(--bg-tertiary);
      justify-content: center;
    align-self: center;
 gap: var(--gap-xs);
 padding: 0px;
 text-align: center;
    }
    .footer-1>p {
      color:var(--font-color-2);
      width: 90%;
      font-weight: 100;
      font-size: 16px;
    }
    .footer-2 {
      justify-content: flex-start;
      justify-self: flex-start;
    padding: 0%;
      grid-row: 2/3; 
    }
    .footer-2-1 {
      flex-direction: column;
      width: 80%;
    }
    label, label>a {
      font-size: 12px;
    }
    .footer-2-2 {
      grid-row: 3/4; 
        align-items:center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: var(--gap-s);
      padding-top: 0px;
      padding-bottom: var(--padding-xs);
    }
    .footer-2-2>ul>li {
      color: var(--font-color-2);
      font-size: 20px;
    }
    .footer-2-2>ul>li:first-of-type{
      padding-bottom: var(--padding-xxs);
    }
    .footer-2-2>ul>li>a{
      color: rgba(255, 255, 255, 0.6);
      font-size: 16px;
    
}
@media (max-width:500px) {
  .temptation {
    height: 270px;
position: relative;
background-position: right;
 }
 .temptation> div.tempting-texts{
position: absolute;
bottom: -130px;
background-color: var(--color-5);
padding: var(--padding-xs) var(--padding-xxs) var(--padding-s) var(--padding-xxs);
justify-content: center;
align-items: center;
 }
 .temptation> div.tempting-texts>h4, .temptation> div.tempting-texts>p {
   color: var(--font-color-1);
   text-align: center;
 }
 .temptation> div.tempting-texts>h4 {
  font-size: 28px;
}
 .temptation> div.tempting-texts>p {
  width:70%;
  font-size: 10px;
   }
}
@media (max-width:442px) {
  .usa>div>h4>span {
    font-size: 30px;
  }
  .usa>div>a{
    font-size: 12px;
    padding: var(--padding-xxs) var(--padding-m);
    align-self: center;
  }
  .temptation {
    height: 250px;
position: relative;
background-position: right;
 }
 .temptation> div.tempting-texts{
position: absolute;
bottom: -130px;
background-color: var(--color-5);
padding: var(--padding-xs) var(--padding-xxs) var(--padding-s) var(--padding-xxs);
justify-content: center;
align-items: center;
 }
 .temptation> div.tempting-texts>h4, .temptation> div.tempting-texts>p {
   color: var(--font-color-1);
   text-align: center;
 }
 .temptation> div.tempting-texts>h4 {
  font-size: 28px;
}
 .temptation> div.tempting-texts>p {
  width:70%;
  font-size: 10px;
   }
   .wheel-programme {
    height: 700px;
    margin-top: 120px;
   }
   .wheel-programme>h4 {
     font-size:30px;
   }
  .wheel-programme>p {
    font-size: 18px;
    padding-left: var(--padding-xxs);
  }
  .wheel-programme>a {
    font-size: 18px;

  }
}